* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #5C73DA;
}


#error-message{
    color: red;
    font-size: 20px;
    margin: 50px auto;
    padding: 0 50px;
}

#myForm {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
}

.password-container {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 36px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.sign-up{
    display: flex;
    color: white;
    padding-left: 500px;
    font-size: 15px;
}

.sign-up-text a{
    text-decoration: None;
    color: blue;
}


input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid Black;
    font-size: 14px;
}


input:focus {
    border-color: #007bff;
    outline: none;
}


button {
    width: 90px;
    padding: 10px;
    background: White;
    color: Black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}


button:hover {
    background: #0056b3;
}




.navBar {
    padding: 0 50px;
    display: flex;
    align-items: center;
    background: #5C73DA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #4D5C83;
}

.navLinks{
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter;
    padding-left: 300px;
}

.logo img {
    height: auto;

}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #3A3A3A;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li {
    margin-left: 20px;
}

.navBar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navBar ul li a:hover {
    color: #007BFF;
}

.about-us{

        border: 1px solid Black;


}




@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .navBar {
        flex-direction: column;
        text-align: center;
    }
    .navBar ul {
        flex-direction: column;
        padding: 10px 0;
    }
    .navBar ul li {
        margin: 10px 0;
    }

    .navLinks a{
            display: block;
            font-size: 18px;

    }
    }
    .hero h1 {
        font-size: 28px;
    }
    .about p {
        font-size: 16px;
    }

@media (max-width: 480px) {
    #myForm {
        width: 95%;
        padding: 15px;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 16px;
        padding: 12px;
    }

    button {
        font-size: 18px;
        padding: 12px;
    }
}
