*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body{
    background-color: #5C73DA;
}

.navBar {
    padding: 0 50px;
    display: flex;
    align-items: center;
    background-color: #5C73DA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #4D5C83;
}

.navLinks{
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter;
    padding-left: 300px;
}

.logo img {
    height: auto;

}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #e2e8f0;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li {
    margin-left: 18px;
}

.navBar ul li a {
    text-decoration: none;
    color: White;
    transition: color 0.3s;
}

.navBar ul li a:hover {
    color: #007BFF;
}

.about-us{
    border: 1px solid Black;
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.last-check-setting{
    background-color: rgba(0, 44, 242, 0.17);
    padding: 30px;
    animation: slideTop 2s ease-out;
}

.last-check{
    font-size: 20px;
    background-color: rgba(0, 44, 242, 0.17);
    padding: 10px;
    color: #007BFF;
}
.last-check-detail{
    margin-top: 10px;
    color: #002CF2;
}
.nav-btn:hover{
    transform: scale(1.1);
    background-color: #002CF2;
    border: none;
}
@keyframes formSlideFade {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#appointment-form{
    animation: formSlideFade 0.6s ease-out forwards;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto;
    width: 90%;
    transition: z-index;
}

.book-appointment{
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}
form label{
    padding-top: 20px;
    color: #002CF2;
    font-size: 20px;
}

form input{
    margin-top: 10px;
    display: block;
    padding: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    
}
form   input:focus {
    border-color: Blue;
    box-shadow: 0 0 5px Blue;
}

.content-section {
    display: none;
    margin-left: 280px;
    background-color: white;
    padding: 20px;
    min-height: calc(100vh - 60px);
}

.content-section.active {
    display: block;
}



.sideBar {
    position: fixed;
    width: 280px;
    z-index: 1000;
    background-color: rgba(71, 100, 224, 0.69);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    height: 100vh;
}

.display{
    background-color: #e2e8f0;
    width: auto;
    height: fit-content;
    margin-left: 330px;
}

.nav-btn{
    border-radius:5px;
    width: 205px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .navBar {
        flex-direction: column;
        text-align: center;
    }
    .navBar ul {
        flex-direction: column;
        padding: 10px 0;
    }
    .navBar ul li {
        margin: 10px 0;
    }

    .navLinks a{
        display: block;
        font-size: 18px;

    }
    .row{

    }
}
.hero h1 {
    font-size: 28px;
}
.about p {
    font-size: 16px;
}