*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #5C73DA;
}


.navBar {
    padding: 0 50px;
    display: flex;
    align-items: center;
    background: #5C73DA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #4D5C83;
}

.navLinks{
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter;
    padding-left: 300px;
}

.logo img {
    height: auto;

}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #e2e8f0;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li {
    margin-left: 20px;
}

.navBar ul li a {
    text-decoration: none;
    color: White;
    transition: color 0.3s;
}

.navBar ul li a:hover {
    color: #007BFF;
}

.about-us{

    border: 1px solid Black;


}


.top-display{
    margin-top: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.2s ease;
}

.top-display:active {
    transform: scale(1.1) translateY(-10px);
}

.vital-check{
    margin-top:20px;
    padding: 50px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #e2e8f0;
}

.vital-check-details{
    margin-top: 20px;
    color: White;
    padding-left: 20px;
}

.row{
    position: relative;
    margin-top: 70px;
}

.book-appointment{
    width: 300px;
    margin-left: 100px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


    a {
        color: Black;
        text-decoration: none;
        font: 14px bold;
    }
}

.book-appointment:hover{
    transform: scale(1.1);
    background-color: #002CF2;
    border: none;
}

.medical-history{
    width: 300px;
    margin-left: 400px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    a {
        color: Black;
        text-decoration: none;
        font: 14px bold;
    }
}

.medical-history:hover{
    transform: scale(1.1);
    background-color: #002CF2;
    border: none;
}

.row:active{
    transform: scale(0.98);
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .navBar {
        flex-direction: column;
        text-align: center;
    }
    .navBar ul {
        flex-direction: column;
        padding: 10px 0;
    }
    .navBar ul li {
        margin: 10px 0;
    }

    .navLinks a{
        display: block;
        font-size: 18px;

    }
    .row{

    }
}
.hero h1 {
    font-size: 28px;
}
.about p {
    font-size: 16px;
}