* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5C73DA;
}

.navBar {
    padding: 0 50px;
    display: flex;
    align-items: center;
    background: #5C73DA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #4D5C83;
}

.navLinks {
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter;
    padding-left: 300px;
}

.logo img {
    height: auto;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #3A3A3A;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li {
    margin-left: 20px;
}

.navBar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navBar ul li a:hover {
    color: #007BFF;
}

.about-us {
    border: 1px solid Black;
}

#myForm {
    background-color: #5C73DA;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto;
    width: 90%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 250px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: White;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4299e1;
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.2);
}



button[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: Blue;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .navBar {
        flex-direction: column;
        text-align: center;
    }

    .navBar .navLinks ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .navBar .navLinks ul li {
        margin: 10px 0;
    }

    form {
        padding: 15px;
    }

    input, select, button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .navBar {
        flex-direction: column;
        text-align: center;
    }
    .navBar ul {
        flex-direction: column;
        padding: 10px 0;
    }
    .navBar ul li {
        margin: 10px 0;
    }

    .navLinks a {
        display: block;
        font-size: 18px;
    }
}

.hero h1 {
    font-size: 28px;
}

.about p {
    font-size: 16px;
}