# Flask and core dependencies
Flask==2.3.3
flask-cors==4.0.0
python-dotenv==1.0.0

# MongoDB and ODM
pymongo==4.6.1

# Authentication and Security
bcrypt==4.0.1

# API and Data Validation
email-validator==2.1.0.post1

